<nav>
    <div class="navbar">
      <a href="/admin"><h1>Newspaper</h1></a>
      <div class="links">
        <a class="home" href="/admin">Home</a>
        <a class="add" href="/add-new">Add New</a>
      </div>
  </div>
  </nav>