<html lang="en">
    <%- include("./partials/head.ejs") %> 

    <body>
        <%- include("./partials/navGuest.ejs") %>
        <div className="notFound" style="text-align: center;">
            <p style="font-size: 300px; margin: 0;">&#9785;</p>
             <h2 style="font-size: 30px; margin-bottom: 2%;">Uuups, wrong url!</h2>
            <a href="/" style="font-size: 22px; color: black;">Back to homepage..</a>
        </div>
    </body>
</html>